body {
    background-color:#FFD9CE ; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    p {
        font: oblique bold 120% cursive;
      }
      p {
        line-height: 200%;
      }
margin-top: 100px;
margin-right: 20PX;
margin-left: 20PX;

p {
  padding: 8px;
  margin: 25px;
  
  /* other styling */
  background-color: #33475b;
  border-radius: 10px;
  color: white;
  font-family: Arial;

  


}
}

